<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">

			<div class="row">
				<h2>Mypage Edit</h2>
			</div>

			<div class="row">
				<div class="col-xs-5">
					<%= form_for(@user) do |f| %>

						<div class="field">
							<%= f.label :image %>
							<%= f.attachment_field :image, class: "user_image" %>
						</div>
				</div>
				<div class="col-xs-7">
						<div class="field">
							<%= f.label :first_name %>
							<%= f.text_field :first_name, class: "first_name" %>
						</div>
						<div class="field">
							<%= f.label :last_name %>
							<%= f.text_field :last_name, class: "last_name" %>
						</div>
						<div class="field">
							<%= f.label :nick_name %>
							<%= f.text_field :nick_name, class: "nick_name" %>
						</div>
						<div class="field">
							<%= f.label :introduction %>
							<%= f.text_area :introduction, class: "introduction" %>
						</div>
						<div class="field">
							<%= f.label :email %>
							<%= f.text_field :email, class: "email" %>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="pull-left">
									<%= f.submit '変更を保存する', class: "btn btn-primary" %>
								</div>
								<div class="pull-right">
									<%= link_to '退会する', hide_user_path, class: "btn btn-danger"%>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>