<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<!-- ユーザー情報 -->
			<div class="row" style="margin-left: 10px;">
				<%= attachment_image_tag(@user, :image, size:'100x100', class: "img-circle", fallback: "no_image.jpg") %>
			</div>
			<div class="row" style="margin-top: 30px;">
				<strong>nick_name : </strong><%= @user.nick_name %>
			</div>
			<div class="row" style="margin-top: 10px;">
				<strong>introduction : </strong><%= @user.introduction %>
			</div>
			<div class="row" style="margin-top: 15px;"><!--フォロー情報-->
				<%= render 'users/stats', user: @user %>
			</div>
			<div class="row" style="margin-bottom: 10px;"><!--フォロー情報-->
				<%= render 'relationships/follow_button', user: @user %>
			
			</div>
			<div class="row">
				<div class="col-xs-9" style="padding-top: 15px; border-top: 1px solid silver;">
					<span>
						<%=link_to edit_user_path, data: {"turbolinks" => false}  do %>
							<i class="fas fa-user-edit fa-2x"></i>
						<% end %>
					</span>

					<span style="margin-left: 5px;">
						<%=link_to new_post_path, data: {"turbolinks" => false} do %>
						<i class="fas fa-plus-circle fa-2x"></i>
						<% end %>
					</span>

					<span style="margin-left: 5px;">
						<% if @user.id == current_user.id %>
							<%= link_to rooms_path do %>
								<i class="far fa-envelope fa-2x"></i>
							<% end %>

						<% else %>
							<% if @isRoom == true %>
							    <a href="/rooms/<%= @roomId %>"><i class="fas fa-paper-plane fa-2x"></i></a>
							<% else %>
							    <%= form_for @room do |f| %>
							      <%= fields_for @entry do |e| %>
							        <%= e.hidden_field :user_id, :value=> @user.id %>
							      <% end %>
							    　<button type="submit">
							   		<i class="fas fa-paper-plane fa-2x"></i>
							      </button>

								<% end %>
							<% end %>
						<% end %>
					</span>

					<span style="margin-left: 5px;">
						<%=link_to "", data: {"turbolinks" => false} do %>
						<i class="far fa-heart fa-2x"></i>
						<% end %>
					</span>
					
				</div>
			</div>
		</div>

		<div class="col-xs-9">
			<div class="row">
				<div style="width: 100%;">
					<!-- Google Map -->
  					<div id="map" style="width: 100%; height: 300px;"></div>
				</div>
				<script>
				  handler = Gmaps.build('Google');
				  handler.buildMap({
				    provider: {mapTypeId: 'roadmap'},
				    internal: {id: 'map'}
				    },
				    function(){
				    //markers = handler.addMarkers(#{raw @hash.to_json})
				    markers = handler.addMarkers(<%=raw @hash.to_json %>)
				    handler.bounds.extendWith(markers);
				    handler.fitMapToBounds();
				    handler.getMap().setCenter(new google.maps.LatLng(35.681298, 139.7640582));
				    handler.getMap().setZoom(1);
				  });
				</script>

			</div>
			<div class="row" style="padding-top: 50px;">
				<% @posts.each do |post| %>

					<div class="col-xs-4">

						<div class="row">
							<div class="col-xs-12">
								<% if post.post_images.present? %>
									<% post.post_images.first(1).each do |image| %>
										<%= link_to post_path(post.id) do %>
											<%= attachment_image_tag image, :image, size:'240x200', fallback: "no_image.jpg", class: "scale-img" %>
										<% end %><!--scssで指定 -->
									<% end %>
								<% end %>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
							<%= link_to post.title,post, class: "post_#{post.id}" %>
							</div>
						</div>
						<div class="row" style="margin-bottom: 20px;">
							<div class="col-xs-12">
								<% if post.status == 0 %>
									<p>下書き</p>
								<% else %>
									<p>公開中</p>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
