<div class="container">
	<div class="row">
		<div class="col-xs-12">

			<div class="row">
				<!-- リンクアイコン表示 -->
				<span class="pull-right">
					<%=link_to edit_user_path, data: {"turbolinks" => false}  do %>
						<i class="fas fa-user-edit fa-2x"></i>
					<% end %>
				</span>

				<span class="pull-right" style="margin-right: 18px;">
					<%=link_to new_post_path, data: {"turbolinks" => false} do %>
					<i class="fas fa-plus-circle fa-2x"></i>
					<% end %>
				</span>

				<span class="pull-right" style="margin-right: 18px;">
					<% if @user.id == current_user.id %>
						<%= link_to rooms_path do %>
							<i class="far fa-envelope fa-2x"></i>
						<% end %>

					<% else %>
						<% if @isRoom == true %>
						    <p><a href="/rooms/<%= @roomId %>"><i class="fas fa-paper-plane fa-2x"></i></a></p>
						<% else %>
						    <%= form_for @room do |f| %>
						      <%= fields_for @entry do |e| %>
						        <%= e.hidden_field :user_id, :value=> @user.id %>
						      <% end %>
						    　<%= button_tag :type => "submit" do %>
						  			<i class="fas fa-paper-plane fa-2x"></i>
							　<% end %>
							<% end %>
						<% end %>
					<% end %>
				</span>

			<!--　ユーザー情報　-->
				<div class="col-xs-3">
					<div class="pull-right">
					<%= attachment_image_tag(@user, :image, size:'100x100', class: "img-circle", fallback: "no_image.jpg") %>
					</div>
				</div>
				<!-- フォローボタン -->
				<div class="col-xs-6 col-xs-offset-1">
					<div class="row">
					<%= render 'users/stats', user: @user %>
					</div>
					<div class="row">
						<%= render 'relationships/follow_button', user: @user %>
					</div>
				</div>
			</div>

				<div class="row" style="padding-top: 30px;">
					<div class="col-xs-8 col-xs-offset-1">
						<div class="row">
							<div class="col-xs-5">
							<strong><%= @user.nick_name %></strong>
							</div>
							<div class="col-xs-6">
								<strong><%= @user.introduction %></strong>
							</div>
						</div>
					</div>
				</div>
			

			<!-- マップの表示 -->
			<div class="row" style="padding-top: 70px;">
				<div class="map_image">
					map
				</div>
			</div>
			<!--　ユーザーの投稿 -->
			<div class="row" style="padding-top: 50px;">
			<% @posts.each do |post| %>

				<div class="col-xs-4">

					<div class="row">
						<div class="col-xs-12">
						<% if post.post_images.present? %>
							<% post.post_images.first(1).each do |image| %>
								<%= attachment_image_tag image, :image, size:'240x200', fallback: "no-image-mini.jpg", class: "scale-img" %><!--scssで指定 -->
							<% end %>
						<% end %>
					</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
						<%= link_to post.title,post, class: "post_#{post.id}" %>
					</div>
					</div>
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-xs-12">
						<% if post.status == 1 %>
						<p>公開中</p>
						<% else %>
						<p>下書き</p>
						<% end %>
					</div>
					</div>
				</div>
				
			<% end %>
			</div>
		</div>
	</div>
</div>

