<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			
			<div class="row">
				<div class="col-xs-3">
					<%= attachment_image_tag(@user, :image, size:'100x100', class: "img-circle", fallback: "no_image.jpg") %>
				</div>
				<div class="col-xs-9">
					<div class="row">
						<!-- アイコン表示 -->
						<span>
							<%=link_to edit_user_path, data: {"turbolinks" => false}  do %>
								<i class="fas fa-user-edit fa-3x"></i>
							<% end %>
						</span>
						<span>
							<%=link_to new_post_path, data: {"turbolinks" => false} do %>
							<i class="fas fa-plus-circle fa-3x"></i>
							<% end %>
						</span>
						<span>
						<% if @user.id == current_user.id %>
							<%= link_to rooms_path do %>
								<i class="far fa-envelope fa-3x"></i>
							<% end %>

						<% else %>
							<% if @isRoom == true %>
							    <p><a href="/rooms/<%= @roomId %>"><i class="fas fa-paper-plane fa-3x"></i></a></p>
							<% else %>
							    <%= form_for @room do |f| %>
							      <%= fields_for @entry do |e| %>
							        <%= e.hidden_field :user_id, :value=> @user.id %>
							      <% end %>
							    　<%= button_tag :type => "submit" do %>
							  			<i class="fas fa-paper-plane fa-3x"></i>
								　<% end %>
								<% end %>
							<% end %>
						<% end %>
						</span>
					</div>
					<!-- フォローボタン -->
					<div class="row" style="padding-top: 40px;">
						<%= render 'users/stats', user: @user %>
					</div>
					<div class="row">
						<%= render 'relationships/follow_button', user: @user %>
					</div>
				</div>
			</div>

			<div class="row" style="padding-top: 30px;">
				<div class="col-xs-4">
					<strong><%= @user.nick_name %></strong>
				</div>
				<div class="col-xs-8">
					<strong><%= @user.introduction %></strong>
				</div>
			</div>

			<!-- マップの表示 -->
			<div class="row" style="padding-top: 70px;">
				<div class="map_image">
				</div>
			</div>
			<!--　ユーザーの投稿 -->
			<div class="row" style="padding-top: 30px;">
				<div style="display: flex;">
						<% @posts.each do |post| %>
						
							<% if post.post_images.present? %>
								<% post.post_images.each do |image| %>
								<div class="col-xs-3">
								<%= attachment_image_tag(image, :image, :fill, 200, 200, fallback: "no-image-mini.jpg") %>
								<% end %>
							<% end %>
						
							<%= link_to post.title,post, class: "post_#{post.id}" %>
						
						</div>
					
						<% end %>
					</div>
					
				</div>
			</div>

		</div>
	</div>
</div>

