<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2 style="margin-bottom: 20px;">投稿詳細</h2>

			<!-- ユーザー情報 -->
			<div class="row" style="margin-top: 30px;">
				<div class="col-xs-3">
					<%= link_to admins_user_path(@post.user.id) do %>
						<%= attachment_image_tag(@post.user, :image, :fill, 70, 70, fallback: "no-image-mini.jpg") %>
					<% end %>
					<%= @post.user.nick_name %>
				</div>
				<div class="col-xs-2">
						<h3><strong>Title </strong></h3><%= @post.title %>
				</div>
				<div class="col-xs-2">
						<h3><strong>Content </strong></h3><%= @post.body %>
				</div>
				<div class="col-xs-2">
					<h3><strong>Genre </strong></h3><%= @post.genre.name %>
				</div>
				<div class="col-xs-2">
						<h3><strong>Status </strong></h3><%= @post.status %>
				</div>
			</div>

			<!-- 投稿詳細　-->
			<div class="row" style="padding-top: 30px; margin-top: 30px; border-top:1px solid; border-color: silver;">
				<% if @post.post_images.present? %>
					<% @post.post_images.each do |image| %>
						<!--post/scss記述 -->
						<%= attachment_image_tag image, :image, size:'200x200', class: "admins_post_show" %>
					<% end %>
				<% end %>
			<div class="row" style="margin-top: 20px;">
				<div class="col-xs-8">
					<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
					<%= @post.favorites.count %> Likes
				</div>
			</div>
			<div class="row">
				<div class="col-xs-11">
					<div class="row">
						<div class="col-xs-2" style="padding-top: 10px; padding-right: 0; margin: 0;">
							<div id="star-rate-<%= @post.id %>"></div>
						</div>
						<div class="col-xs-2" style="color:silver; padding: 0; margin:0;">
							<h4 class="mb-3"><%= @post.rate %></h4>
						</div>
			            <script>
			            	$('#star-rate-<%= @post.id %>').raty({
					            size: 36,
					            starOff:  '<%= asset_path('star-off.png') %>',
					            starOn : '<%= asset_path('star-on.png') %>',
					            starHalf: '<%= asset_path('star-half.png') %>',
					            half: true,
					            readOnly: true,
					            score: <%= @post.rate %>,
			         		 });
			            </script>
		        	</div>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col-xs-8">
		    		<%= link_to '編集する', edit_admins_post_path, class: "btn btn-primary pull-right", data: {"turbolinks" => false} %>
		    	</div>
		    	<div class="col-xs-1">
		    		<%= link_to @post, method: :delete, class: "pull-right", data: {confirm: "本当に削除してもよろしいですか？"} do %>
						<i class="far fa-trash-alt fa-2x"></i>
					<% end %>
				</div>
		</div>
	</div>
</div>