<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<div class="row">
				<h2>検索</h2>
			</div>
			<div class="row">
				<%= form_for(@vision_image) do |f| %>
				<div class="field row" style="margin-top: 30px;">
					<%= attachment_image_tag(@vision_image, :image, id: "preview", size:'250x250', fallback: "no_image.jpg") %>
					<%= f.attachment_field :image, id: :item_img, class: "vision_image" %>
				</div>
				<div class="actions row" style="margin-top: 30px;">
					<%= f.submit '調べる', class: "btn btn-primary col-xs-7" %>
				</div>
				<% end %>
			</div>
		</div>
		<div class="col-xs-8">
			<% @vision_images.each do |vision| %>
				<div class="row" style="margin-bottom: 50px;">
					<div class="col-xs-8">
						<%= attachment_image_tag vision, :image, class: "vision-img" %>
					</div>
					<div class="col-xs-4">
						<% vision.tags.each do |tag| %>
							<div class="row">
								<div class="label label-primary"><%= tag.name %></div>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>