<!DOCTYPE html>
<html>
    <head>
        <title>ScrapTrip</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <script src="https://kit.fontawesome.com/0d02a0d965.js" crossorigin="anonymous"></script>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    </head>

    <!-- top -->
    <div class="container" style="position: relative; margin: 0; padding: 0;width: 100%; height: 780px;">

        <!-- nav -->
        <div class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0;">
            <div class="nav">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      <!--if文でサインインとアウト時の表示を変更-->
                      <% if user_signed_in? %>
                        <%= render "layouts/user_header" %>
                      <% elsif admin_signed_in? %>
                        <%= render "layouts/admins_header" %>
                      <% else %>
                        <li class="nav-list-item">
                          <%= link_to ' Home', root_path, class: "fas fa-house-user" %>
                        </li>
                        <li class="nav-list-item">
                          <%= link_to ' About', homes_about_path, class: "fas fa-suitcase-rolling" %>
                        </li>
                        <li class="nav-list-item">
                          <%= link_to ' Posts', posts_path, class: "far fa-images" %>
                        </li>
                        <li class="nav-list-item">
                          <%= link_to ' Ranking', ranking_posts_path, class: "fas fa-crown" %>
                        </li>
                        <li class="nav-list-item">
                          <%= link_to ' sign up', new_user_registration_path, class: "fas fa-user-plus" %>
                        </li>
                        <li class="nav-list-item">
                          <%= link_to ' login', new_user_session_path, class: "fas fa-sign-in-alt" %>
                        </li>
                      <% end %>
                    </ul>
                </div>
            </div>
        </div>

        <!-- TOPスライド -->
        <div id="slide">
            <div id="theTarget">
                <div class="image1">
                </div>
                <div class="image2">
                </div>
                <div class="image3">
                </div>
                <div class="image4">
                </div>
            </div>
        </div>
        <div class="text-shadow">
            Scrap Trip
        </div>
        <div class="text-shadow2">
            世界で一つだけの旅をしよう。
        </div>
    </div>

    <!-- 新着投稿 -->
    <div class="container" style="position: relative; width: 100%; margin: 0; padding: 0; height: 650px;">
        <div class="row" style="margin:0 auto; width: 80%;">
            <div class="title-top">New Posts</div>
        </div>
        <div class="board2">
        </div>
        <div class="row" style="margin: auto; width: 90%; ">
            <% @posts.each do |post| %>
                <div class="col-xs-3">

                    <div class="row">
                        <div class="col-xs-12" style="margin-bottom: 20px;">
                            <% if post.post_images.present? %>
                                <% post.post_images.first(1).each do |image| %>
                                    <%= link_to post_path(post.id) do %>
                                        <%= attachment_image_tag image, :image, size:'220x200', fallback: "no_image.jpg", class: "scale-img" %>
                                    <% end %><!--scssで指定 -->
                                <% end %>
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-xs-5" style="padding-top: 10px; padding-right: 0; margin: 0;">
                                        <div id="star-rate-<%= post.id %>"></div>
                                    </div>
                                    <div class="col-xs-2" style="color:silver; padding: 0; margin:0;">
                                        <h4 class="mb-3"><%= post.rate %></h4>
                                    </div>
                                    <script>
                                        $('#star-rate-<%= post.id %>').raty({
                                            size: 36,
                                            starOff:  '<%= asset_path('star-off.png') %>',
                                            starOn : '<%= asset_path('star-on.png') %>',
                                            starHalf: '<%= asset_path('star-half.png') %>',
                                            half: true,
                                            readOnly: true,
                                            score: <%= post.rate %>,
                                         });
                                    </script>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
           <%= link_to 'もっと見る >>', posts_path, class: "link-post-index pull-right" %>
        </div>
    </div>

    <div class="container" style="position: relative; margin: 0; padding: 0;width: 100%; height: 750px;">
        <div class="row" style="width: 100%; margin:0 auto;">
            <div class="col-xs-6" style="margin-top: 150px; padding: 0 60px;">
                <div class="row">
                    <div class="about">
                        ABOUT US
                    </div>
                </div>
                <div class="row">
                    <div class="concept">
                        <strong>旅のぬくもりを記録する。</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="body">
                        旅をした時の感情、匂い、人との出会いなど様々な思いを記録に残したいという思いから開発したwebアプリ。このアプリを通してもっと旅が楽しくなり、新たな旅先の発見にも繋がる。
                    </div>
                </div>
                <div class="row">
                    <%= link_to 'もっと見る >>', homes_about_path, class: "link-about pull-right" %>
                </div>
            </div>
            <div class="col-xs-6" style="padding-right: 0;">
                <div class="about-img pull-right">
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="position: relative; margin: 0; padding: 0;width: 100%; height: 760px;">
        <div class="board3">
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-xs-6">
                <div class="how-number">
                    <strong style="color: #2793e2;">01</strong>
                </div>
                <div class="how-to-use">投稿をする。</div>
                <div class="how-icon"></div>
                <div class="ex-use">
                    複数の画像やジャンル選択、文章を投稿できます。ジャンルを通して、エリアからの投稿検索も可能です。
                </div>
            </div>
            <div class="col-xs-6">
                <div class="how-number">
                    <strong style="color: #2793e2;">02</strong>
                </div>
                <div class="how-to-use">検索をする。</div>
                <div class="how-icon2"></div>
                <div class="ex-use">
                    気になる場所やお気に入りのユーザーを検索でき、新たな旅先の発見に繋げることができます。
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 300px;">
            <div class="col-xs-6">
                <div class="how-number">
                    <strong style="color: #2793e2;">03</strong>
                </div>
                <div class="how-to-use">マップを使う。</div>
                <div class="how-icon3"></div>
                <div class="ex-use">
                    投稿した国名や都市名に紐づいてGoogleMapにピンが立ちます。マップを通して今まで行った場所の確認もできます。
                </div>
            </div>
            <div class="col-xs-6">
                <div class="how-number">
                    <strong style="color: #2793e2;">04</strong>
                </div>
                <div class="how-to-use">共有する。</div>
                <div class="how-icon4">
                </div>
                <div class="ex-use">
                    自分以外のユーザーの投稿の閲覧、ブックマーク、ユーザーのフォローができます。メッセージ機能を通して、コミュニケーションをとることも可能です。
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="position: relative; margin: 0; padding: 0;width: 100%; height: 300px;">
        <div class="login-img"></div>
        <div class="row" style="position: absolute; top: 180px;">
            <div class="log-in">
            <%= link_to 'Log In', new_user_session_path, class: "btn btn-lg btn-info"%>
            </div>
            <div class="sign-up">
            <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-lg btn-info"%>
            </div>
        </div>
         <div class="footer">
            Scrap_Trip/ポートフォリオ/202006
        </div>
    </div>
</html>


