<%= form_for(post) do |f| %>
	<div class="field" style="margin-bottom: 20px;">
		<% post.post_images.each do |image| %>
			<%= attachment_image_tag(image, :image, size:'220x200', fallback: "no_image.jpg") %>
		<% end %>
		<%= f.attachment_field :post_images_images, multiple: true%>
	</div>

	<div class="field row" id="star" style="margin-bottom: 20px;">
	    <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
	    <%= f.hidden_field :rate, id: :review_star %>
	</div>

	<script>
		$("#star").raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'post[rate]',
            half: true,
      });
	</script>
	<div class="field row" style="margin-bottom: 20px;">
		<%= f.label :Title %>
		<%= f.text_field :title, :placeholder =>"--国名/都市名を入力してください--", class: "col-xs-12 post_title" %>
	</div>

	<div class="field row" style="margin-bottom: 20px;">
		<%= f.label :Content %> <!-- ここを変更 -->
		<%= f.text_area :body, class: "col-xs-12 post_body" %>
	</div>

	<div class="field row" style="margin-bottom: 20px;">
		<select name="post[status]" id="post_status">
		  <option selected="selected" value="draft">下書き</option>
		  <option value="published">公開中</option>
		</select>
	</div>

	<div class="actions row" style="margin-bottom: 20px;">
		<%= f.submit class: "btn btn-primary col-xs-12" %>
	</div>
<% end %>