<% provide(:title, @tag.hashname) %>
<div class="container">
<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<!-- ハッシュタグ名　-->
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<h1><%= @tag.hashname %> : <%= @posts.count %>posts</h1>
			</div>
		</div>
	</div>

	<div class="col-xs-10 col-xs-offset-1">
		<div class="row" style="margin-top: 40px;">
				<% @posts.each do |post| %>
					<div class="col-xs-4">

						<div class="row">
							<div class="col-xs-12">
								<% post.post_images.first(1).each do |image| %>
									<%= attachment_image_tag(image, :image, size:'280x280', class: "scale-img") %>
								<% end %>
							</div>
						</div>
						<div class="row" style="margin: 10px;">
							<div class="col-xs-12">
								<div class="col-xs-6" style="padding-top: 10px; padding-left: 0; margin: 0;">
									<div id="star-rate-<%= post.id %>"></div>
								</div>
								<div class="col-xs-5" style="color:silver; padding: 0; margin:0;">
									<h4 class="mb-3"><%= post.rate %></h4>
								</div>
				            	<script>
					            	$('#star-rate-<%= post.id %>').raty({
							            size: 36,
							            starOff:  '<%= asset_path('star-off.png') %>',
							            starOn : '<%= asset_path('star-on.png') %>',
							            starHalf: '<%= asset_path('star-half.png') %>',
							            half: true,
							            readOnly: true,
							            score: <%= post.rate %>,
					         		 });
					            </script>
	        				</div>
	        			</div>
							
							<div class="row" style="margin: 10px;">
								<div class="col-xs-12">
									<%= link_to (post.user) do %>
										<%= attachment_image_tag(post.user, :image, size:'50x50', fallback:"no_image.jpg") %>
									<% end %>
									<%= post.user.nick_name %>
								</div>
							</div>
						</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

