<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<div class="row" style="margin-top: 20px;">
				<% @posts.each do |post| %>
					<div class="col-xs-4">
						<!-- １件ずつの投稿ボックス -->
						<div class="post-box">
							<div class="row" style="margin: 10px;">
								<% post.post_images.first(1).each do |image| %>
									<%= link_to post_path(post.id) do %>
										<%= attachment_image_tag(image, :image, size:'235x200', class: "index-img") %>
									<% end %>
								<% end %>
							</div>
							<div class="row" style="margin: 10px;">
								<%= link_to (post.user) do %>
									<%= attachment_image_tag(post.user, :image, size:'40x40', fallback:"no_image.jpg") %>
								<% end %>
								<%= post.user.nick_name %>
							</div>
							<div class="row" style="margin: 10px;">
							<i class="fas fa-map-marker-alt"></i>  <%= link_to post.title, post, class: "post_#{post.id}" %>
							|
							<strong>Content: </strong><%= post.body %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
			<div class="row pull-right">
				<%= paginate @posts %>
			</div>
		</div>
		<div class="col-xs-3" style="padding-left: 50px;">
			<h2 class="genres" style="padding-left: 50px;"><strong>ジャンル</strong></h2>
			<div class="row" style="margin-top: 20px;">
				<% @parents.each do |parent| %>
					<div class="row" style="margin-left: 10px; padding-bottom: 10px; padding-left: 50px;">
						<div class="col-xs-8" style="border-bottom: 1px solid silver;">
							<%= link_to genre_path(parent.id) do %>
								<h3><%= parent.name %> </h3>
							<% end %>
						</div>
					</div>
					<div class="row" style="margin-left: 10px; padding-left: 50px; margin-bottom: 20px;">
						<% parent.children.each do |child| %>
							<div class="col-xs-6">
								<%= link_to genre_path(child.id) do %>
									<h5><%= child.name %>(<%= child.posts.count %>)</h5>
								<% end %>
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
			<h2 class="hashtags" style="padding-left: 50px; margin-top: 40px;"><strong>タグ</strong></h2>
			<div class="row" style="margin-top: 20px; margin-left: 40px;">
				<% @tag.first(15).sort.reverse.each do |tag| %>
					<div class="col-xs-6" style="padding-right: 0;">
						<%= link_to "/post/hashtag/#{tag.hashname}",data: {"turbolinks" => false} do %>
						<h4 style="margin-top: 8px;">#<%= tag.hashname %></h4>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
