<!DOCTYPE html>
<html>
  <head>
    <title>ScrapTrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0d02a0d965.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//maps.google.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_KEY"] %>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  </head>

  <body>
  <!--ヘッダーの記述-->
  <header class="headline">
    <%= link_to root_path, data: {"turbolinks" => false} do %>
          <div class="title">Scrap Trip</div>
    <% end %>
    <div class="row">
      <div class="col-xs-11 search" style="margin: 0; padding: 0;">
        <span><%= form_tag(searchs_search_path, :method => 'get', class: "navbar-form  navbar-right", data: {"turbolinks" => false}) do %>
              <%= text_field_tag :search, "", placeholder: "Search", class: "form-control" %>
        </span>
      </div>
      <div class="col-xs-1" style="margin-top: 10px; padding: 0;">
        <%= button_tag '', :type => "submit", class: "class_submit" do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
        <% end %>
      </div>
    </div>
  </header>

    <div class="navbar navbar-default nav-app" role="navigation">
      <div class="nav nav-app2" style="background-color: #1871bd;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!--if文でサインインとアウト時の表示を変更-->
              <% if user_signed_in? %>
                <%= render "layouts/user_header" %>
              <% elsif admin_signed_in? %>
                <%= render "layouts/admins_header" %>
              <% else %>
                <li class="nav-list-item">
                  <%= link_to ' Home', root_path, class: "fas fa-house-user" %>
                </li>
                <li class="nav-list-item">
                  <%= link_to ' About', homes_about_path, class: "fas fa-suitcase-rolling" %>
                </li>
                <li class="nav-list-item">
                  <%= link_to ' posts', posts_path, class: "fas fa-suitcase-rolling" %>
                </li>
                <li class="nav-list-item">
                  <%= link_to ' Ranking', ranking_posts_path, class: "fas fa-suitcase-rolling" %>
                </li>
                <li class="nav-list-item">
                  <%= link_to ' sign up', new_user_registration_path, class: "fas fa-user-plus" %>
                </li>
                <li class="nav-list-item">
                  <%= link_to ' login', new_user_session_path, class: "fas fa-sign-in-alt" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <%if flash[:notice] %>
        <p class="text-center alert alert-info" style="color:#1871bd;"><%= flash[:notice] %></p>
      <% end %>
<!--デバイスでnotice設定されているので呼び出してるだけ-->
    <%= yield %>
    <!--ヘッダーの記述-->
    <div class="container">
     

    </div>
  </body>
</html>


