<!DOCTYPE html>
<html>
  <head>
    <title>ScrapTrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0d02a0d965.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダーの記述-->
    
  <header class="headline">
        <h1><%= link_to root_path, data: {"turbolinks" => false} do %>
              <span style="color: #4682b4;">Scrap_trip</span>
            <% end %>
        </h1>
  </header>

    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!--if文でサインインとアウト時の表示を変更-->
              <% if user_signed_in? %>
                <%= render "layouts/user_header" %>
              <% elsif admin_signed_in? %>
                <%= render "layouts/admins_header" %>
              <% else %>
                <li class="nav-list-item">
                  <%= link_to ' Home', root_path, class: "fas fa-house-user" %>
                </li>
                <li class="nav-list-item">
                  <%= link_to ' About', homes_about_path, class: "fas fa-suitcase-rolling" %>
                </li>
                <li class="nav-list-item">
                  <%= link_to ' sign up', new_user_registration_path, class: "fas fa-user-plus" %>
                </li>
                <li class="nav-list-item">
                  <%= link_to ' login', new_user_session_path, class: "fas fa-sign-in-alt" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
   



    <%= yield %>
    <!--ヘッダーの記述-->
    <div class="container">
      <p id="notice"><%= notice %></p> <!--デバイスでnotice設定されているので呼び出してるだけ-->

    </div>
  </body>
</html>


