<!DOCTYPE html>
<html>
  <head>
    <title>ScrapTrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0d02a0d965.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 70px;">
    <!--ヘッダーの記述-->
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <%= link_to root_path do %>
          <span style="color: white;">Scrap_trip</span>
          <% end %>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <!--if文でサインインとアウト時の表示を変更-->
            <% if user_signed_in? %>
            <li><%= link_to ' Home', user_path(current_user), class: "fas fa-house-user" %></li>
            <li><%= link_to ' Posts', "", class: "far fa-clone" %></li>
            <li><%=link_to "Genres", "", class: "fas fa-plane-departure" %>
            </li>
            <li><%= link_to ' logout', destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt" %></li>
            <% else %>
            <li><%= link_to ' Home', root_path, class: "fas fa-house-user" %></li>
            <li><%= link_to ' About', homes_about_path, class: "fas fa-suitcase-rolling" %></li>
            <li><%= link_to ' sign up', new_user_registration_path, class: "fas fa-user-plus" %></li>
            <li><%= link_to ' login', new_user_session_path, class: "fas fa-sign-in-alt" %></li>
            <% end %>
          </ul>
        </nav>

      </div>
    </header>

    <%= yield %>
    <!--ヘッダーの記述-->
    <div class="container">
      <p id="notice"><%= notice %></p> <!--デバイスでnotice設定されているので呼び出してるだけ-->

    </div>
  </body>
</html>


